body{
    margin:0;
    padding: 0;
    background-color: darkslateblue;

}
a{
            text-decoration: none;
            color: cornflowerblue;
        }
button{
            display: inline;
        }


button {
    border: none;
    background-color: #464646;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #46424d;
}


.search-container {
    margin: 20px auto;
}

#searchInput {
    padding: 10px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.user-list {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    font-weight: bold;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

}

.username {
    font-size: 18px;
    font-weight: bold;
    background-color: #efefef;
}