{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="{% static "user/style.css" %}">
    <style>
        button{
            margin-left: 40px;
            margin-top: 40px;
        }
        body{
            background-color: darkslateblue;
        }
    </style>
</head>
<body>
    <button type="button"><a href="{% url "login" %}">login</a></button>
    <button type="button"><a href="{% url "signup" %}">Sign up</a></button>

</body>
</html>